* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(132, 119, 179);
    height: 200px;
}

.left-side-menu {
    display: flex;
    align-items: center;
}

.left-side-menu #icon {
    width: 150px;
}

.left-side-menu #logo {
    width: 300px;
    height: 100px;
}

.right-side-menu {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

.homeclass, .todoclass {
    display: flex;
    align-items: center;
    padding: 10px;
}

.homeclass:hover, .todoclass:hover {transform: scale(1.2);}

.right-side-menu #home {
    width: 43px;
}

.right-side-menu #todo {
    width: 35px;
}



.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.left-side h1 {
    padding-right: 1110px;
}

.left-side p {
    width: 1200px;
}

.right-side {
    padding-top: 80px;
    display: flex;
    flex-direction: column ;
    align-items: center;

}

.right-side h1 {
    padding-right: 1060px;
}

.right-side p {
    width: 1200px;
}

.right-side ul {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-left: 300px;
    gap: 50px;
}

.primeiroquadrante {
    display: flex;
    width: 900px;
    height: 200px;
}

.primeiroquadrante li {
    list-style-type: none;
    width: 200px;
    height: 400px;
}

.segundoquadrante {
    display: flex;
    width: 900px;
    height: 200px;
}

.segundoquadrante li {
    list-style-type: none;
    width: 200px;
}

.right-side img {
    width: 200px;
    border-radius: 30px;
}

span {
    color: rgb(132, 119, 179);
}

p, label, li {
    font-weight: 700;
    font-size: 25px;
}

h1 {
    font-size: 50px;
}

article {
    border-top: 5px solid rgb(132, 119, 179);
    padding-top: 20px;
    text-align: center;
    font-weight: 600;
}


.menu-tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.menu-tarefas ul {
    padding: 10px;
}

.menu-tarefas ul li{
    display:flex;
    justify-content: space-between;
    padding: 10px;
    gap: 30px;
    margin: 10px;

    border-style: solid;
    border-color: rgb(132, 119, 179);
    border-width: 2px;
    border-radius: 15px;
}

.menu-tarefas ul li #lixo {
    width: 20px;
}

.menu-tarefas p a {
    color: blue;
    text-decoration: none;
    padding: 10px;
    margin: 10px;

    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
}